header{
    float: left;
    width: 100%;
    font-family:"NunitoSans_7pt_Condensed-Bold" Arial, Helvetica, sans-serif ;
    text-align: center;
    margin: 20px 0;
   
}

header img{
    width: 200px;

}

header h1{
    color: var(--primary-color);
    font-size: 50px;
    margin: 0;
    text-shadow: 2px 2px 5px #ccc;
}