<aside>
  <div class="widget">
    <h3>Iniciar sesíon</h3>

    <form>
      <input type="email" name="email" placeholder="Email" />
      <input type="password" name="password" placeholder="password" />
      <input type="submit" value="Entrar" />
    </form>
  </div>

  <div class="widget">
    <h3>Ultimas entradas</h3>

    <ul>
      <li>
        <a href="#">La marca auteco es muy reconocida en el pais</a>
      </li>

      <li>
        <a href="#">Como hacer tu credito con auteco</a>
      </li>

      <li>
        <a href="#">porque es tan facil adquirir tu vehiculo con nosotros</a>
      </li>

      <li>
        <a href="#">¿porque todos adquiere la nueva RAIDER TVS 125?</a>
      </li>
    </ul>
  </div>

  <div class="widget">
    <h3>Frase del dia</h3>
    <blockquote>
      No hay mejor tranquilidad que manejar tu propio vehiculo
    </blockquote>
  </div>
</aside>
