<section id="content">
  <h1>Últimas Noticias</h1>

  <article>
    <h2>La marca auteco es muy reconocida en el pais</h2>
    <p>
      Auteco (Autotécnica Colombiana S.A.S.) es un fabricante y ensambladora de
      automotores y motocicletas de Colombia. Fundada en 1941, fue la primera
      ensambladora de motocicletas en el país y en la Comunidad Andina.
    </p>
    <a href="#">leer más>></a>
  </article>

  <article>
    <h2>Como hacer tu credito con auteco</h2>
    <p>
      Con nosotros puedes aquirir tu credito de manera instantanea ya que
      facilitamos mucho el proceso y tenemos varios aliados
    </p>
    <a href="#">leer más>></a>
  </article>

  <article>
    <h2>Porque es tan facil adquirir tu vehiculo con nosotros</h2>
    <p>
      Con auteco es facil adquirir tu nuevo vehiculo ya que contamos con
      diversos aliados que nos ayudan a seguir creciendo como empresa y dandoles
      seguridad a la hora de adquirir tu vehiculo
    </p>
    <a href="#">leer más>></a>
  </article>

  <article>
    <h2>¿Porque todos quieren adquirir la nueva RAIDER TVS 125?</h2>
    <p>
      Tiene una farola led doble módulo , carenaje agresivo, tanque urbano
      deportivo, stop en led, sillín dividido a doble altura y más amplio con
      una guantera bajo el asiento trasero. Detalles únicos que hacen a la TVS
      Raider la mejor opción de todas las 125 del mercado.12.73 caballos
      combinados con 11.5 NM de torque hacen de esta 125 la más imponente en
      performance frente a sus competidoras, sus 5 velocidades y motor de 3
      válvulas aseguran que la respuesta de aceleración y potencia siempre estén
      a la mano.
    </p>
    <a href="#">leer más>></a>
  </article>

  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>...</li>
    <li><a href="#">23</a></li>
  </ul>
</section>
